<ion-view view-title="考勤">
  <ion-content class="padding">
    <h2>任务管理平台内网打卡</h2>
    <p>
    现未区分签到与签退。暂只实现功能。页面显示后期调整。
    </p>
    <!--<button class="button">
    Default
    </button><button class="button button-light">
    button-light
    </button><button class="button button-stable">
    button-stable
    </button><button class="button button-positive">
    button-positive
    </button><button class="button button-calm">
    button-calm
    </button>--><button class="button button-balanced " ng-class="{'disabled': $root.dkbtn}" ng-click="daka()">
    打卡
    </button><!--<button class="button button-energized">
    button-energized
    </button><button class="button button-assertive">
    button-assertive
    </button><button class="button button-royal">
    button-royal
    </button><button class="button button-dark">
    button-dark
    </button>-->
  </ion-content>
</ion-view>
