<ion-view view-title="任务列表">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="rw in renwuList" type="item-text-wrap" href="#/renwu/chats/{{rw.id}}">
        <!-- <img ng-src="{{chat.face}}">-->
        <h2>{{rw.name}}</h2>
        <p>{{rw.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(rw)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
